# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/x64/Debug
/.vs/Mir2/v16
/Mir2/Debug
/Mir2/x64/Debug
/Build/Debug
/Build/x86
/Test/Debug
/Engine/Debug
/Console/Debug
/Debug
/.vs/D3D9V2/v16
/ConsoleTest/Debug
